html {
  overscroll-behavior: none;
}

body {
  font-family: "poppins", sans-serif;
}

header {
  margin: -10px -10px 0px;
  text-align: center;
  color: white;
  background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)),
    url(../images/antalya-beach.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  padding: 100px 0px;
}

header h1 {
  display: block;
  font-size: 84px;
  margin-top: 20px;
  margin-bottom: 20px;
}

header h2 {
  letter-spacing: 2px;
  font-size: 25px;
}

header h3 {
  letter-spacing: 5px;
}

header a {
  display: inline-block;
  margin-top: 10px;
}

header a,
main a {
  cursor: pointer;
  text-align: center;
  text-decoration: none;
  border-radius: 6px;
  padding: 12px 24px;
  background-color: white;
  color: rgb(35, 35, 35);
  transition: all 150ms ease-in-out;
}

main {
  margin: 0px -10px;
  border-left: 40px solid rgba(128, 128, 128, 0.5);
  border-right: 40px solid rgba(128, 128, 128, 0.5);
  padding: 10px 50px 20px;
}

a.mobile {
  display: none;
}

.descrip-container h3 {
  opacity: 30%;
  margin: 0px;
}

.grid {
  display: grid;
  grid-template-columns: auto auto;
  grid-gap: 20px;
}

.grid img.fix {
  width: 100%;
  border-radius: 10px;
}

header a:hover {
  background-color: lightgray;
}

hr {
  border-radius: 10px;
  height: 4px;
  background-color: white;
  border: none;
}

.top-img-desc {
  background-color: white;
}

footer {
  margin: 0px -10px -20px;
  text-align: center;
  padding: 100px 20px 20px;
  background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)),
    url(../images/antalya-mountains-2.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  color: white;
}

footer p.water-mark {
  margin: -50px auto 50px;
}

footer h3 {
  text-align: center;
}

footer .ul-container {
  text-align: center;
  display: block;
  margin: 0 25%;
}

footer a {
  text-decoration: none;
  color: rgb(190, 190, 190);
}

footer a:hover {
  text-decoration: underline;
  color: aqua;
}

footer .footer-grid {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
}

footer .footer-grid .child {
  padding: 10px;
  transition: all 150ms ease-in-out;
}

footer .footer-grid .child p {
  text-align: start;
}

footer .footer-grid .child:hover {
  background-color: rgba(0, 0, 0, 0.5);
  border-radius: 10px;
}

@media (max-width: 1400px) {
  .grid {
    grid-template-columns: auto;
  }
}

@media (max-width: 1000px) {
  header {
    padding: 50px 0px;
  }

  header h1 {
    font-size: 42px;
  }

  header h2 {
    font-size: 15px;
  }

  header a {
    display: none;
    padding: 20px;
  }

  a.mobile {
    margin-top: 20px;
    display: block;
    background-color: lightgrey;
  }

  img.mobile {
    display: none;
  }

  a.mobile:hover {
    background-color: gray;
  }

  main {
    border: none;
  }

  footer {
    padding-bottom: 10px;
  }

  footer ul {
    padding: 0px;
    list-style-type: none;
  }

  footer .footer-grid {
    grid-template-columns: 1fr;
  }

  footer .top-border {
    border-top: 2px solid white;
  }

  footer .footer-grid .child:hover {
    border-top: 2px solid rgba(0, 0, 0, 0);
  }

  footer hr {
    display: none;
  }
}
